/*  fontar  */
/*   Habibi = body texti */
/*  Young serif = titlar  */
/*  EB Garamond = "quotes" */
*{
    scroll-behavior: smooth;
}
img{
    width: 100%;
}
body{
    font-family: "Habibi", serif;
    word-spacing: 5px;
    font-size:1rem;
    line-height: 1.5rem;
    padding-top: 2rem;
    background-image: url("../Images/DsmainBack.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
main{
    margin-bottom: 50vh;
}
.Ds3Body{
    background-image: url("../Images/DarkSouls3Images/Ds3Back-4k.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Ds2Body{
    background-image: url("../Images/Ds2images/Ds2Back.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.Ds1Body{
    background-image: url("../Images/Ds1Images/570940_125.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo{
    width: 75px;
    border-radius: 1rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Young serif", cursive;
}
.title{
    filter: invert(1);
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
}

blockquote{
    font-family: "EB Garamond", cursive;
    font-size: 1.3rem;
}

/* Hamborgara menu */
nav, nav ul{
    flex-direction: column;
}
nav{
    background-color: rgba(54, 54, 54, 0.95);
    position: fixed;
    top: -50vh;
    left: 0;
    width: 100%;
    z-index: 10;
    transition: all 200ms;
}
.menu-takki{
    width: 50px;
    height: 50px;
    text-align: center;
    align-content: center;
    padding: 0;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 11;
}
input[type=checkbox]:checked + nav{
    top: 0;
}
input[type=checkbox]#menu{
    display: none;
}
/* Hamborgara menu endar */

/* Auglýsinga stillingar */
.ad{
    display: block;
    position: fixed;
    width: 50%;
    z-index: 8;
    padding: .2rem;
    background-color: var(--pico-secondary-background);
    border-radius: 10px;
    align-content: center;
    transition: all 200ms;
    animation-name: auglysing;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.ad:hover{
    animation-play-state: paused;
}
.ad label{
    align-content: center;
    width: 25px;
    height: 25px;
    padding: 0;
    position: absolute;
    background-color: rgba(255, 0, 0, 0.7);
    color: rgb(255, 206, 206);
    border: none;
    margin: 0;
    top: 0;
    right: 0;
    z-index: 9;
}
.ad img{
    position: relative;
    border-radius: 10px;
}
/* Vildi hafa X til að loka auglýsingunni, googlaði og kom upp með þetta */
.ad:has(#loka:checked){
    display: none;
}
input[type=checkbox]#loka{
    display: none;
}
/* Kvikun fyrir auglýsingu */
@keyframes auglysing{
    from {right: -100vw;} 
    50% {right: -100vw;}
    to {right: 100vw;}
}
/* Auglýsinga stillingar enda */

/* Myndasyning stillingar */
.textaMyndasyning{
    max-width: 100%;
    float: right;
    display: grid;
    background-color: var(--pico-secondary-background);
    border-radius: 1rem;
    margin: .5rem;
    margin-bottom: 1rem;
    padding: .5rem;
    align-items: center;
}
.textaMyndasyning img{
    animation-name: myndasyning;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    grid-area: 1 / 1;
    z-index: -1;
}
.textaMyndasyning > *:nth-child(1) {animation-delay: 0s;}
.textaMyndasyning > *:nth-child(2) {animation-delay: 4s;}
.textaMyndasyning > *:nth-child(3) {animation-delay: 8s;}

/* Kvikun fyrir myndasyningu */
@keyframes myndasyning{
    0% {z-index: 0;}
    33.33% {z-index: 0;}
    33.34% {z-index: -1;}
}
/* Gallerí */
div.galleri {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.galleri-item {
  margin: 5px;
  border: 1px solid var(--pico-primary-border);
  width: 100%;
}

div.galleri-item:hover {
  border: 1px solid #777;
}

div.galleri-item img {
  width: 100%;
  height: auto;
}

/* Gallerí endar*/

/* Myndasyning stillingar enda */

/* Modal stillingar */
/* Könnun */
.konnun{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.konnunBtn{
    width: 10rem;
    padding: 0.5rem;
}
/* Könnun endar */
.spurning1-1, .spurning2{
    display: none;
}
.spurning1:has(#radioJa1:checked) ~ .spurning1-1{
    display: block;
}
.spurning1:has(#radioNei1:checked) ~ .spurning2{
    display: block;
}
form div{
    padding-bottom: 1rem;
}
form input[type=submit]{
    width: 10rem;
}
.center{
    text-align: center;
}

/* Modal stillingar enda */

/* iframe Video stillingar */
.video{
    display: block;
    text-align: center;
    height: 12rem;
}
.video iframe{
    width: 80%;
    height: 100%;
}

/* Video stillingar enda   */

/* Töflu stílar: */
thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
tr {
    display: block;
    border-bottom: 1px solid var(--pico-color);
    word-spacing: 0px;
}
td {
    display: block;
    text-align: right;
}
td::before {
    content: attr(data-label);
    float: left;
}
/* Töflu stílar endar */

/* Footer stillingar */
.footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    gap: 1.5rem;
    padding: 1.3rem;
}
.footer a{
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.icons{
    display: flex;
    justify-content: space-evenly;
    font-size: 1rem;
}

/* Footer stillingar enda */

/* Kvikun fyrir takka */
input[type=Submit]:active, button:active, a:active{
    transition: all 50ms;
    box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.4);
    transform: translateY(3px);
}

/* Kvikun fyrir takka endar */


/*      Media       */

@media (width >= 768px){
    body{
        padding-top: 5rem;
    }
    nav, nav ul{
        flex-direction: row;
    }
    nav{
        left: 0;
        top: 0;
        padding: 0 1rem;
    }
    .menu-takki{
        display: none;
    }
    
    .textaMyndasyning{
        max-width: 50%;
    }
    div.galleri{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    /* auglysinga stillingar (Media) */
    .ad{
        animation-duration: 15s;
        width: 24rem;
    }
    .ad label{
        width: 40px;
        height: 40px;
    }
    /* auglysinga stillingar (Media) enda */

    /* Töflu stílar:(media) */
    thead {
        display: table-header-group;
        position: relative;
        width: auto;
        overflow: visible;
    }
    td {
        display: table-cell;
        text-align: left;
    }
    td::before {
        content: none;
        clear: both;
    }
    tr {
        display: table-row;
        border-bottom: none;
    }
    /* Töflu stílar endar(media) */
}
@media (width >= 1280px){
    .textaMyndasyning{
        max-width: 40%;
    }
    div.galleri{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }

    /* auglysinga stillingar (Media) */
    .ad{
        animation-duration: 24s;
    }
    .ad label{
        width: 50px;
        height: 50px;
    }
    /* auglysinga stillingar (Media) enda */
}
